.contenedor-principal-proyectos {
    margin-top: 10vh;
}

.contenedor-titulo {
    margin-bottom: 10vh;
}

.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}